# EditorConfig is awesome: http://EditorConfig.org
# Puppet Coding Standards: https://docs.puppet.com/guides/style_guide.html#spacing-indentation-and-whitespace

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4

[*.yaml]
indent_size = 2